<% if @video %>
	<!--   広告    -->
	<center>
		<div style="overflow: hidden; font-size: small; zoom: 1; width: 60%; max-height: 150px;">
			<div class="babylink-box" style="overflow: hidden; font-size: small; zoom: 1; margin: 15px 0; text-align: left; width: 50%; float: left; border: 1px solid #999; background-color: rgb(255, 255, 255);">
				<% ad1 = rand(6) %>
				<% if ad1 == 0 %>
					<!--   TENGA ディープスロート・カップ    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000V1OPYA/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/41qGJF4R%2BiL._SL75_.jpg" width="53" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000V1OPYA/showwin-22/" rel="nofollow" target="_blank">TENGA ディープスロート・カップ[STANDARD]【特殊な構造が生み出す、DEEPな吸いつき感】</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">TENGA</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad1 == 1 %>
					<!--   PREMIUM TENGA バキュームカップ   -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00S63UHTC/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/316rq9K2qAL._SL75_.jpg" width="75" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00S63UHTC/showwin-22/" rel="nofollow" target="_blank">PREMIUM TENGA バキュームカップ</a></div><div class="babylink-manufacturer" style="margin-bottom: 5px;">TENGA</div>
					<div class="babylink-description" style="margin-top: 7px; margin-right: 5px;">10周年に数量限定発売し好評を博した、プレミアムテンガが帰ってきた。</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad1 == 2 %>
					<!--   DHC 亜鉛 60日分    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B006TQKWWA/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/51tvw0R3oML._SL75_.jpg" width="49" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B006TQKWWA/showwin-22/" rel="nofollow" target="_blank">DHC 亜鉛 60日分 60粒</a></div><div class="babylink-manufacturer" style="margin-bottom: 5px;">DHC</div>
					<div class="babylink-description" style="margin-top: 7px;">体内の約300種類の酵素に関わる必須ミネラルである亜鉛に、セレンやクロムなどのミネラルをプラスしたサプリメント</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad1 == 3 %>
					<!--   TENGA エッグ シャイニー    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B008F44D38/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/41asRpiibSL._SL75_.jpg" width="53" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B008F44D38/showwin-22/" rel="nofollow" target="_blank">TENGA エッグ シャイニー EGG SHINY 【太陽突起のギラギラ刺激】 ハードゲルバージョン</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">TENGA</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad1 == 4 %>
					<!--   RIDE 【硬弾力螺旋】ヴァージンループハード    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00IFTJNLA/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/61Obu9T4KsL._SL75_.jpg" width="75" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00IFTJNLA/showwin-22/" rel="nofollow" target="_blank">RIDE 【硬弾力螺旋】ヴァージンループハード ヴァージンローション付き</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">RIDE</div><div class="babylink-description" style="margin-top: 7px;">硬弾力『ハードタッチ【air】』素材の四重螺旋! ゾリゾリ感がたまらない!</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad1 == 5 %>
					<!--   オルガスターピンク    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B001BIYCJ0/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/31jmBu-4-cL._SL75_.jpg" width="75" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B001BIYCJ0/showwin-22/" rel="nofollow" target="_blank">オルガスターピンク</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">merci(メルシー)</div><div class="babylink-description" style="margin-top: 7px;">しっかりした使用感をもたらします。また圧向上に高い威力を発揮します。</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% end %>
			</div>
			<div class="babylink-box" style="overflow: hidden; font-size: small; zoom: 1; margin: 15px 0; text-align: left; width: 50%; float: left; border: 1px solid #999; background-color: rgb(255, 255, 255);">

				<% ad2 = rand(6) %>
				<% if ad2 == 0 %>
					<!--   ペペローシヨン    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000PUZ5B4/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/31cgJsnyFtL._SL75_.jpg" width="29" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000PUZ5B4/showwin-22/" rel="nofollow" target="_blank">ペペローシヨン 360ml</a></div><div class="babylink-manufacturer" style="margin-bottom: 5px;">NPG</div>
					<div class="babylink-description" style="margin-top: 7px;">心地よい使用感の新しい潤滑ゼリーです。</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad2 == 1 %>
					<!--   おなつゆ    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B005A0PEQ0/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/41wZxR5Bc4L._SL75_.jpg" width="50" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B005A0PEQ0/showwin-22/" rel="nofollow" target="_blank">おなつゆ</a></div><div class="babylink-manufacturer" style="margin-bottom: 5px;">トイズハート</div>
					<div class="babylink-description" style="margin-top: 7px;">オナホールのために考えられたボトル形状と独自の配合により、継ぎ足しや拭き取りなどにかかる手間の大幅カットに成功しました。</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad2 == 2 %>
					<!--   TENGA Vacuum Controller バキュームコントローラー・プレミアムセット    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01IP088F0/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/41V1pnoGDQL._SL75_.jpg" width="75" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01IP088F0/showwin-22/" rel="nofollow" target="_blank">【Amazon.co.jp限定】TENGA Vacuum Controller バキュームコントローラー・プレミアムセット【PREMIUM TENGA/POCKET TENGA付き】</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">TENGA</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad2 == 3 %>
					<!--   iroha mini SORAMIKAN    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00GN43L8U/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/31vNMFv%2BNdL._SL75_.jpg" width="75" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00GN43L8U/showwin-22/" rel="nofollow" target="_blank">iroha mini SORAMIKAN [そらみかん] DESIGNED BY TENGA 【乾電池式バイブレーター(ローター)】</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">TENGA</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad2 == 4 %>
					<!--   初々しい妹 キツ穴edition    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01EF64XF2/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/515UcVovOrL._SL75_.jpg" width="50" height="75" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01EF64XF2/showwin-22/" rel="nofollow" target="_blank">初々しい妹 キツ穴edition</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">トイズハート</div><div class="babylink-description" style="margin-top: 7px;">初々しい妹のキツ穴バージョン登場。未経験のキツキツすぎる内部がアナタに密着。</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% elsif ad2 == 5 %>
					<!--   めちゃうす 1000    -->
					<div class="babylink-image" style="float: left; margin: 5px 15px 10px 0px; width: 75px; height: 75px; text-align: center;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000NZ9M60/showwin-22/" rel="nofollow" target="_blank"><img style="border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none;" src="https://images-fe.ssl-images-amazon.com/images/I/51oAN4CV4IL._SL75_.jpg" width="75" height="66" /></a></div>
					<div class="babylink-info" style="overflow: hidden; zoom: 1; line-height: 120%; margin-top: 5px;"><div class="babylink-title" style="margin-bottom: 2px; line-height: 120%;"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000NZ9M60/showwin-22/" rel="nofollow" target="_blank">めちゃうす 1000 1箱12コ入×3パック</a></div>
					<div class="babylink-manufacturer" style="margin-bottom: 5px;">不二ラテックス</div><div class="babylink-description" style="margin-top: 7px;">基本機能を追及した薄型設計のコンドームです。独自のオールマイティ型で、装着安定感抜群。</div></div>
					<div class="booklink-footer" style="clear: left"></div>
				<% end %>
			</div>
		</div>
	</center>

	<!--  プレイヤー  -->
	<center>
		<div id="player" style="width: 100%; height: <%= @window.height %>px; max-width: <%= @window.width %>px; max-height: <%= @window.height %>px;">
			<embed src="http://video.fc2.com/flv2.swf?t=201407280507" flashvars="i=<%= @video.ref_url %>&amp;d=<%= @video.duration_sec %>otag=1&amp;sj=0&amp;rel=1&amp;lang=en&amp;tk=TXpVM01EWTJOa9&amp;tl=<%= @video.title %>&amp;loop=0&amp;t=201407280507" quality="high" bgcolor="#000000" wmode="direct" width="100%" height="100%" name="flv2" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" allowfullscreen="true">
		</div>
	</center>
	<p></p>

	<!-- お気に入り登録 -->
	<% if current_user %>
		<center>
			<%= form_tag(favs_path, method: :post,  remote: true, id: 'add_fav') do %>
				<%= hidden_field_tag 'fav[video_id]', @video.id %>
				<%= text_field_tag 'fav[comment]', nil, :placeholder => "お気に入りのコメントを入力　46文字以内", :class => "form-control-url", :maxlength => 46 %>
				<%= submit_tag 'お気に入り登録', :class => "btn btn-outline btn-default" %>
			<% end %>
		</center><br>
	<% end %>

	<!-- 動画見れない報告-->
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
		<%= form_tag report_path, method: :delete, id: 'delete_video' do %>
			<%= hidden_field_tag :title, @video.title %>
			<%= submit_tag 'この動画が再生できない事を報告', :class => "btn btn-outline btn-danger btn-block" %>
		<% end %>
		</div>
	</div><br>
<% end %>
